<button *ngIf="!isAuthenticated" (click)="login()">Login</button>
<button *ngIf="isAuthenticated" (click)="logout()">Logout</button>

<hr />

Is Authenticated: {{ isAuthenticated }}

<br />
<br />

<section style="display: flex; word-break: break-all;">

  <div style="flex: 2;">
    <h2>User Data</h2>
    <span>{{ userData | json }}</span>
  </div>
  <div style="flex: 1;">
    <h2>Token</h2>
    <span>{{ token }}</span>
  </div>
  <div style="flex: 3;">
    <h2>ID Token</h2>
    <span>{{ idToken }}</span>
  </div>

</section>